@import "/node_modules/bootstrap/scss/bootstrap";

.confetti {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;
}

.ft-confetti {
    height: 100vh;
    width: 100vw;
    display: block;
}

.pong {
    height: 600px;
    width: 800px;
}

input.hidden {
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    overflow: hidden;
}

#pong {
    height: 100vh;
    width: 133vh;
}

#login-container {
    color: #0F0;
    align-content: center;
    height: 100vh;
}

